.custom-modal-active {
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
}

.custom-modal-none {
    background-color: rgba(0, 0, 0, 0);
}

.modal-text {
    font-size: 14px;
}

.modal-content {
    width: 550px;
}

.form {
    width: 50%;
    margin: 50px auto;
}

.table {
    width: 75%;
    margin: 0 auto;
}
